html {
  font-family: Georgia, "Times New Roman", Times, serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

a {
  color: inherit;
}

:root {
  --main-color: #60204f;
  --main-font: Georgia;
}

body {
  background-color: #d0a5c4;
}

h1 {
  color: var(--main-color);
  padding: 15px;
  padding-top: 25px;
}

.form-structure {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--main-color);
  margin: 1rem;
  margin-right: 70%;
  padding: 15px;
}

.label {
  padding-bottom: 10px;
  padding-top: 25px;
}

.checkbox {
  display: flex;
  padding-bottom: 10px;
  padding-top: 25px;
  justify-content: space-around;
}

.button {
  background-color: #60204f;
  color: #e0bed7;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
